<div class="nav-menu">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink></li>
        <li><NavLink href="/Registro">Registro de Accidentes</NavLink></li>
    </ul>
</div>

<div class="main-content">
    <h1>Tarea de Accidentes</h1>
    <!-- Aquí va el contenido principal -->
</div>


